@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#__next {
  @apply relative min-h-full;
}

@layer base {
  html, body {
    @apply p-0 m-0 h-full;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply relative p-0 m-0 dark:bg-black dark:text-white bg-white text-black text-base font-roboto overflow-x-hidden;
  }
}